{
 "token": "ENTER_YOUR_TOKEN",
  "channel": "ENTER_YOUR_CHANNEL",
  "timeMin": TIME IN MINUTES,
  "options": {
    "opt1": {"name":"Rest1","emoji":"meat_on_bone"},
    "opt2": {"name":"Rest2","emoji":"spaghetti"},
    "opt3": {"name":"Rest3","emoji":"older_woman::skin-tone-3"},
    "opt4": {"name":"Rest4","emoji":"flag-cn"},
    "opt5": {"name":"Rest5","emoji":"bread"},
    "opt6": {"name":"New Place?","emoji":"question"},
    "opt7": {"name":"Random","emoji":"game_die"}
  }
}